
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#logo-nav-div{
    width: 100%;
    min-height: 50px;
    /* background-color: lightgray; */

    margin-bottom: 10px;
}

#logo-div{
    width: 50%;
    min-height: 50px;
    background-color: lightgray;

    float: left;

    line-height: 50px;
    padding-left: 2%;
}

#nav-div{
    width: 49%;
    min-height: 50px;
    background-color: lightgray;

    float: right;

    text-align: center;
    line-height: 50px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#header-banner-div{
    width: 100%;
    min-height: 100px;

    background-color: lightgray;

    text-align: center;
    line-height: 100px;

    margin-bottom: 10px;
}

#intro-div{
    width: 100%;
    min-height: 80px;

    background-color: lightgray;

    text-align: center;
    line-height: 80px;

    margin-bottom: 10px;
}

#main-div{
    width: 100%;
    min-height: 400px;
    /* background-color: grey; */

    margin-bottom: 10px;
}

#main-div .box{
    width: 30%;
    min-height: 400px;
    background-color: lightgray;

    float: left;

    text-align: center;
    line-height: 400px;
}

#main-div .box:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

#footer-div{
    width: 100%;
    min-height: 70px;
    background-color: lightgray;

    text-align: center;
    line-height: 70px;
}

#wrapper-div{
    width: 80%;
    margin: 10px auto;
}
