/** ------------------------------------- -->
/** BOX SHADOW - CSS3
/** ---------------------------------------- --> */

/*? CSS3 Box Shadow is a new property to add shadow effects to any html Element. You can choose your own color, offset, blur, spread, offset and repetition. Unlike border, it not a part of CSS Box Model, thus doesn't effect the layout even if it is bigger in size. Also we can add multiple shadows with different colors and offsets. */


/*? Outer Box Shadow: Default box shadow is outer. x-offset and y-offset are compulsory properties, rest all are optional. */

/*? Inner Box Shadow: To use inner box shadow, use inset. Inset is only required if shadow is inside. By-default shadow is outside. */

/** ---------------------------------------- --> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.shadow {
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: black;

  /* box-shadow: 0px 0px 10px 20px red; */
  box-shadow: 7px 10px 10px 20px red;
}
