
/* element selector */
p{
    background-color: blue;
}

/* id selector */
#para1{
    color: blueviolet;
}

/* class selector */
.para2_3{
    font-size: 50px;
}

/* Grouping selector */
h1,#para1,.para2_3{
    font-style: italic;
}

*{
    border: 2px solid pink;
}
