
/* h1{
    border: 2px;
    border-style: dashed;
    border-top: 3px dotted;
    border-bottom-color: red;
    border-right-width: 5px;
} */

h1{
    background-color: aquamarine;
    /* border-style:solid;
    border-width: 2px;
    border-color: blue; */
    border: 5px solid blue;

    /* border-radius: 20px; */
    /* border-top-left-radius: 20px; */
    border-top: solid yellow 5px;
    border-left: dotted red 5px;

    width: 300px;
     height: 200px;
    
}

.firstpara{
    background-color: blanchedalmond;
    border: 5px solid blue;
    border-radius: 20px;
    width: 300px;

    /* padding: 50px;*/

    /* padding-left: 10px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px; */

    /* padding: 10px 20px 30px 40px; */

    padding: 40px 20px;

    /* margin: 40px; */

    /* margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-left: 30px; */

    margin: 50px 40px;
}

.secondpara
{
    background-color: beige;
    border: 5px solid blue;
    border-radius: 20px;

    width: 300px;
}

.thirdpara{
    background-color: chartreuse;
    border: 5px solid blue;
    border-radius: 20px;

    width: 300px;
}