
h1{
    color:red;
}

p,li{
    color:purple;
}

li{
    list-style-type: square;
}

li.special, span.special{
    color: orange;
    font-weight: bold;
}

li em{
    color:rebeccapurple;
}

h1 + p{
    font-size: 200%;
}

a:link{
    color: pink;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none;
}

 
/* 
selects any <span> that is inside a <p>, which is inside an <article> 

article p span {
}

selects any <p> that comes directly after a <ul>, which comes directly after an <h1> 

h1 + ul + p {
}

This will style any element with a class of special, which is inside a <p>, which comes just after an <h1>, which is inside a <body>. 

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
*/
