body{
    margin: 0;
}
 
#container{
    border: 6px solid black;
    margin-top: 20px;

    display: flex;
    /* display: inline-flex; */
}


.flex-items{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1{
    background-color: antiquewhite;
}

.item-2{
    background-color:aqua;
}

.item-3{
    background-color:aquamarine;
}

.item-4{
    background-color:azure;
}

.item-5{
    background-color:aquamarine;
}

.item-6{
    background-color:beige;
}

.item-7{
    background-color:bisque;
}

.item-8{
    background-color:blanchedalmond;
}

.item-9{
    background-color:burlywood;
}


