

/* descrement selector : target direct as well as indirect child*/
div p{
    background-color: aqua;
}

/* child selector : target direct child */
div>p{
    color:coral;
}

/* adjacent selector : target first sibling */
div+p{
    background-color: blueviolet;
}

div~p{
    font-size: 30px;
}
